<form (ngSubmit)="createToDo()" #todoForm="ngForm">
  <div class="add-section">
    <div class="add-section-l">
      <input 
        class="form-control" 
        placeholder="Add Task Title" 
        [(ngModel)]="newToDo.title" 
        name="title" 
        required 
        #titleInput="ngModel"
        minlength="1" 
        maxlength="50"
      /> 


      <input 
        class="form-control" 
        placeholder="Add Task Description" 
        [(ngModel)]="newToDo.description" 
        name="description" 
        required 
        #descriptionInput="ngModel"
        minlength="5" 
        maxlength="250"
      />

    </div>
    <div class="add-section-r"> 
      <button 
        type="submit" 
        class="btn btn-info" 
        > 
        Add Task 
      </button> 
    </div>
  </div>
</form>
